<div ng-controller="PatientController" class="Absolute-Center" style="height: 100px;">    
	<div class="dictionaryButtons">
    <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right dictionaryHeaderButtons">Wyczyść sortowanie</button>
    <button ng-click="tableParams.filter({})" class="btn btn-default pull-right dictionaryHeaderButtons">Wyczyść filtrowanie</button>
    <button class="btn btn-warning dictionaryHeaderButtons" ng-click="launchModal()">Dodaj pacjenta</button>
    </div>
    <table ng-table="tableParams" show-filter="true" class="table">
            <tr ng-repeat="patient in patientsLocal">
            	<td data-title="'Nazwisko'" sortable="'surname'" filter="{ 'surname': 'text' }">
                	<span ng-if="!patient.$edit">{{patient.surname}}</span>
                	<div ng-if="patient.$edit"><input class="form-control" type="text" ng-model="patient.surname" /></div>
            	</td>
            	<td data-title="'Imię'" sortable="'name'" filter="{ 'name': 'text' }">
                	<span ng-if="!patient.$edit">{{patient.name}}</span>
                	<div ng-if="patient.$edit"><input class="form-control" type="text" ng-model="patient.name" /></div>
            	</td>
            	<td data-title="'Pesel'" sortable="'pesel'" filter="{ 'pesel': 'text' }">
                	<span ng-if="!patient.$edit">{{patient.pesel}}</span>
                	<div ng-if="patient.$edit"><input class="form-control" type="text" ng-model="patient.pesel" /></div>
            	</td>
            	<td data-title="'Akcje'">
                	<a ng-if="!patient.$edit" href="" class="btn btn-primary btn-xs" ng-click="patient.$edit = true">Edytuj</a>
                	<a ng-if="patient.$edit" href="" class="btn btn-primary btn-xs" ng-click="patient.$edit = false; savePatientChanges()">Zapisz</a>
                	<a ng-if="patient.$edit" href="" class="btn btn-danger btn-xs" ng-click="patient.$edit = false">Anuluj</a>
                	<a ng-if="!patient.$edit" href="" class="btn btn-danger btn-xs" ng-click="removePatient($index)">Usuń</a>
            	</td>
            </tr>
    </table>

</div>