
<div id="wrapper">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation"
		style="margin-bottom: 0">
		<div class="navbar-header" style="width: 100%;">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".sidebar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="">Panel administratora</a>


			<ul class="nav navbar-top-links navbar-right">

				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href=""><i class="fa fa-user fa-fw"></i>Ustawienia
								użytkownika</a></li>
						<li><a href=""><i class="fa fa-sign-out fa-fw"></i>Wyloguj
								się</a></li>
					</ul> <!-- /.dropdown-user --></li>
				<!-- /.dropdown -->
			</ul>



		</div>
		<!-- /.navbar-header -->


		<div class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="side-menu">

					<li><a ui-sref=".dashboardy"><i
							class="fa fa-dashboard fa-fw"></i> Dashboardy</a></li>
					<li><a href=""><i class="fa fa-edit fa-fw"></i>
							Słowniki<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level collapse">
							<li><a ui-sref=".uzytkownicy">Użytkownicy</a></li>
							<li><a ui-sref=".pacjenci">Pacjenci</a></li>
							<li><a ui-sref=".lekarze">Lekarze</a></li>
							<li><a ui-sref=".gabinety">Gabinety</a></li>


						</ul> <!-- /.nav-second-level --></li>
					<li><a ui-sref=".harmonogramy"><i
							class="fa fa-table fa-fw"></i> Harmonogram przyjęć</a></li>

				</ul>
				<!-- /#side-menu -->
			</div>
			<!-- /.sidebar-collapse -->
		</div>
		<!-- /.navbar-static-side -->
	</nav>

	<div id="page-wrapper">

		<div class="row">
			<div class="col-lg-12">

				<div ui-view></div>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /#page-wrapper -->
</div>
<script src="js/lib/raphael-2.1.0.min.js"></script>
<script src="js/lib/morris.js"></script>
<script src="js/lib/jquery.metisMenu.js"></script>
<script src="js/lib/sb-admin.js"></script>