<div class="row">
    <div class="container-fluid">
    	<div class="included_content panel panel-default">
    		<div class="example_panel panel-body" style="width: 50%;">
    				<select ng-model="west.type" ng-options="item.type as item.name for item in components" ng-change="clear(west)" required>
    			<option value="">--Wybierz komponent--</option>
    			</select>
    			<div ng-switch on="west.type">
    			<select ng-switch-when="PhysiciansTermList" ng-model="west.config" ng-options="physician.id as (physician.title+' '+physician.name.substring(0,1)+'. '+physician.surname) for physician in physicians" required>
    			<option value="">--Wybierz lekarza--</option>
    			</select>
    			<textarea type="text" ng-switch-when="InfoArea" ng-model="west.config" required />
    			<textarea type="text" ng-switch-when="AdvertisementArea" ng-model="west.config" required />
    			<select ng-switch-when="CalendarWidget" ng-model="west.config" ng-options="option as option for option in ['1', '2', '3', '4', '5', '6', '7', '8', '9']" required>
    			<option value="">--Wybierz obszar pylenia--</option>
    			</select>
   				</div>
				


    		</div>
    		<div class="example_panel panel-body" style="width: 50%;">
    				<select ng-model="east.type" ng-options="item.type as item.name for item in components" ng-change="clear(east)" required>
    			<option value="">--Wybierz komponent--</option>
    			</select>
    			<div ng-switch on="east.type">
    			<select ng-switch-when="PhysiciansTermList" ng-model="east.config" ng-options="physician.id as (physician.title+' '+physician.name.substring(0,1)+'. '+physician.surname) for physician in physicians" required>
    			<option value="">--Wybierz lekarza--</option>
    			</select>
    			<textarea type="text" ng-switch-when="InfoArea" ng-model="east.config" required />
    			<textarea type="text" ng-switch-when="AdvertisementArea" ng-model="east.config" required />
    			<select ng-switch-when="CalendarWidget" ng-model="east.config" ng-options="option as option for option in ['1', '2', '3', '4', '5', '6', '7', '8', '9']" required>
    			<option value="">--Wybierz obszar pylenia--</option>
    			</select>
   				</div>
				


    		</div>
    	</div>   
    </div>
</div>
