<div class="modal-header">
	<h3 ng-if="variant=='add'" class="modal-title">Dodawanie nowej tablicy</h3>
	<h3 ng-if="variant=='edit'" class="modal-title">Edycja tablicy</h3>
	
</div>
<form ng-submit="submit()">
	<div class="modal-body">
	<ng-form name="dashboardDialog" novalidate role="form">
		<div class="form-group input-group-lg">
			<label class="control-label" for="name">Nazwa tablicy:</label> 
			<input type="text" class="form-control" name="name" id="name" ng-model="dashboard.name" required>
			<input type="hidden" name="id" ng-model="dashboard.id"/>
		</div>
		<div class="form-group">
			<select ng-model="dashboard.template" ng-options="item.name for item in templates" ng-change="clearAll()"  required>
			<option value="">--Wybierz układ--</option>
			</select>
		</div>
		<div class="form-group">
			<div ng-include="dashboard.template.url"></div> 
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="cancelModal()">Anuluj</button>
		<button ng-if="variant=='add'"  type="button" class="btn btn-primary" ng-click="addDashboard()"
			ng-disabled="(dashboardDialog.$dirty && dashboardDialog.$invalid) || dashboardDialog.$pristine">Dodaj</button>
		<button ng-if="variant=='edit'" type="button" class="btn btn-primary" ng-click="updateDashboard(dashboard)"
			ng-disabled="(dashboardDialog.$dirty && dashboardDialog.$invalid) || dashboardDialog.$pristine">Zapisz</button>
	</div>
</form>