<div ng-controller="LoginController" class="Absolute-Center"
	style="height: 100px;">

	<!--     <div class="container-fluid loginDIV" style="width:300px" ng-controller="LoginController" ng-init="init()"> -->

	<!--         <form name="myForm" role="form" novalidate class="crudForm"> -->
	<!--             Bind the value of this text input to CameraController.code -->
	<!--             <my-input type="text" label="LOGIN.NAME" tip="TOOLTIP.LOGIN" value="item.login" minlength="3" maxlength="65" required="true" disabled="false" label-class="control-label" input-class="control-label"></my-input> -->
	<!--             <my-input type="password" label="LOGIN.PASSWORD" tip="TOOLTIP.PASSWORD" value="item.password" minlength="3" required="true" disabled="false" label-class="control-label" input-class="control-label"></my-input> -->

	<!--             <button type="submit" class="btn btn-sm btn-success" ng-disabled="myForm.$invalid || !myForm.$dirty" ng-click="login()">{{ 'BUTTON.LOGIN' | translate }}</button> -->
	<!--         </form> -->

	<!--     </div> -->
	<button ng-click="client()">Część kliencka</button>
	<button ng-click="admin()">Część administratorska</button>

</div>